<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>GameSite</title>
    </head>
    <body>
    {% block content %}
        <div class="login-page">
            {%if errors%}

                {%for x in errors%}
                <p style="color:red">{{x}}</p>
                {%endfor%}

            {%endif%}
            <div class="form" method="get">
                <form class="login-form">
                    <input type="text" name="username" placeholder="username"/>
                    <input type="password" name="password" placeholder="password"/>
                    <button>login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                    <div>
                        Copyright: Gamesite Digital Technology Co.Ltd.
                    </div>
                </form>
            </div>
         </div>
    {% endblock %}
    </body>
</html>
