{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row register-page">
    <div class="col-xs-6 col-xs-offset-3 ">
        <h1 class="title">Register Your Own Account</h1>
        <hr/>

        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}

            {{ user_form|crispy }}
            {{ profile_form|crispy }}

            <input type='submit' class='btn btn-warning btn-lg btn-block login' value='register!'/>
        </form>
    </div>
</div>
{% endblock content %}