{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row register-page">
    <div id="log-info" class="second-header2">
        <span>Welcome, {{ profile.user.username }} !</span>
        <a href="/" class="logout">Back to Home page?</a>
    </div>
    <div class="col-xs-6 col-xs-offset-3 ">
        <h1 class="title">You are playing :{{game.title}}</h1>
        <ul>
            <li>id: {{game.id}}</li>
            <li>Description: {{game.description}}</li>
        </ul>
        <iframe style="margin-bottom: 40px" src="{{game.game_url}}" height="600" width="600"></iframe>

    </div>
    <script>
        // Message receiver
        window.addEventListener("message", function receiveMessage(e){
            if (e.data.messageType === "SCORE"){
                var saveForm = document.getElementById('saveForm');
                saveForm.highscore.value = e.data.score;
                saveForm.submit();
            } else if (e.data.messageType === "SAVE"){
                // todo: save e.data.gameState
            } else if (e.data.messageType === "LOAD_REQUEST"){
                // todo: send LOAD message with saved gameState
                //
                var msg = {
                    messageType:"LOAD",
                    // example gameState:
                    gameState: {
                        playerItems: [
                            "Sword",
                            "Wizard Hat"
                        ],
                        score: 506.0 // Float
                    }
                }
                document.getElementById("frame").contentWindow.postMessage(msg,document.getElementById("frame").src)
            } else if (e.data.messageType === "SETTING")
            // sets iFrame height and width according to e.data.options.height and e.data.options.width
                document.getElementById("frame").height = e.data.options.height;
            document.getElementById("frame").width = e.data.options.width;
        }, false);

    </script>
    <noscript>Sorry, JavaScript doesn't work!</noscript>
</div>
{% endblock content %}

