{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %} 
<div class="row developer-page" xmlns="http://www.w3.org/1999/html" style="height: 100%">
    <div class="col-xs-6 col-xs-offset-3 ">
        <h1 class="title">Game Title: {{game.title}}</h1>
        <ul>
            <li>id: {{game.id}}</li>
            <li>Description: {{game.description}}</li>
            <li>
                <a href={{game.image_url}}>
                    <img src="{{game.image_url}}" alt="Game image" height="240" width="240">
                </a>
            </li>
            <li>
                Created by: <a href="/developer/{{game.creator.user.id}}">{{game.creator.user.username}} </a>
            </li>
            <li>Price: {{game.price}}</li>
        </ul>

        <div>
            <h3>Highscores</h3>
            <ol>
                {% for save in topscores %}
                <li>
                    {{save.player.user.username}} - {{save.highscore}}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class='row col-sm-9 col-sm-offset-9'>
        <div>
            {% if not is_playable %}
            <a href="./buy">
                < Buy game
            </a>
        </div>
        {% else %}
        <div>
            <a href="./play">< Play game</a>
        </div>
        {% endif %}
        <br><br>
    </div>
</div>


    {% endblock content %} 