<h1>
    Game Title: {{game.title}}
</h1>
<div>
    <div>
        id: {{game.id}}
    </div>
    <div>
        Description: {{game.description}}
    </div>
    <div>
        image URL: {{game.image_url}}
    </div>
    <div>
        Created by: <a href="/developer/{{game.creator.id}}">{{game.creator.user.username}}</a>
    </div>
</div>

<div>
    <h3>Delete game</h3>
    <form method="post" action="">
        {{ delete_form }}
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
</div>

<div>
    <a href="./buy">
        < Buy game
    </a>
</div>

<div>
    <a href="../">
        < Back to index
    </a>
</div>