{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %} 
<div class="row developer-page" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-6 col-xs-offset-3 ">
        <h1 class="title">Game Title: {{game.title}}</h1>
        <ul>
            <li>id: {{game.id}}</li>
            <li>Description: {{game.description}}</li>
            <li>
                <a href={{game.image_url}}>
                    <img src="{{game.image_url}}" alt="Game image" height="240" width="240">
                </a>
            </li>
            <li>
                Created by: <a href="/developer/{{game.creator.user.id}}">{{game.creator.user.username}} </a>
            </li>
            <li>Price: {{game.price}}</li>
        </ul>
         <br>


        <div>
          <h3>Highscores</h3>
          <ol>
          {% for save in topscores %}
              <li>
                {{save.player.user.username}} - {{save.highscore}}
              </li>
          {% endfor %}
          </ol>
        </div>

        <br><br>
        {% if edit_form != None %}
        <div>
            <h3 class="title">Edit game</h3>
            <form method="post" action="">
                {{ edit_form |crispy}}
                {% csrf_token %}
                <input type="submit" name="edit_submit" value="Save">
            </form>
        </div>
        {% endif %}

        {% if delete_form != None %}
        <div>
            <h3 class="title">Delete game</h3>
            <form method="post" action="">
                {{ delete_form }}
                {% csrf_token %}
                <input type="submit" name="delete_submit" value="Delete">
            </form>
        </div>
        <br/>
        {% endif %}
    </div>
</div>
{% endblock content %} 
