{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %} 
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row developer-page" xmlns="http://www.w3.org/1999/html" style="height:auto">
    <div class="row">
    <div class="col-xs-6 col-xs-offset-3 ">
        <h1 class="title">Game Title: {{game.title}}</h1>
        <ul>
            <li>id: {{game.id}}</li>
            <li>Description: {{game.description}}</li>
            <li>
                <a href={{game.image_url}}>
                    <img src="{{game.image_url}}" alt="Game image" height="240" width="240">
                </a>
            </li>
            <li>
                Created by: <a href="/developer/{{game.creator.user.id}}">{{game.creator.user.username}} </a>
            </li>
            <li>Price: {{game.price}}</li>
        </ul>

        <div>
            <h3>Highscores</h3>
            <ol>
                {% for save in topscores %}
                <li>
                    {{save.player.user.username}} - {{save.highscore}}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    </div>
    <div class="row">
        <div class='col-sm-9 col-sm-offset-9'>
            <div>
                {% if not is_playable %}
                <a href="./buy">< Buy game</a>
            </div>
            {% else %}
            <div>
                <a href="./play">< Play game</a>
            </div>
            {% endif %}
            <br><br>
        </div>
    </div>



    <div class="row">
        <ul class="social-btns">
            <li>
                <a href="https://twitter.com/intent/tweet?text={{game.title}}&url" class="social-btn-roll twitter">
                    <div class="social-btn-roll-icons">
                        <i class="social-btn-roll-icon fa fa-twitter"></i>
                        <i class="social-btn-roll-icon fa fa-twitter"></i>
                    </div>
                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url|urlencode:""}}"  class="social-btn-roll facebook2">
                    <div class="social-btn-roll-icons">
                        <i class="social-btn-roll-icon fa fa-facebook"></i>
                        <i class="social-btn-roll-icon fa fa-facebook"></i>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>

{% endblock content %} 
