{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %} 
<div  class="row developer-page" style="height:100%">
    <div id="log-info" class="second-header2">
        <span>Welcome, {{ profile.user.username }} !</span>
        <a href="/" class="logout">Back to Home page?</a>
    </div>

<!--<p>Your profile id is {{id}}</p>-->

<h1 class="title">Games that you have bought: </h1>
    {% for g in games %}
    <div style="height: 300px;" class="col-md-3 col-sm-4 col-xs-6">
        <a href="/games/{{ g.id }}/">
            <div class="game-item">
                <img width="250" height="250" src="{{g.image_url}}" alt="game_pic">
                <span>{{g.title}}</span>
            </div>
        </a>
    </div>
    {% endfor %}

</div>

{% endblock content %}
